html {
	font-family: "Helvetica", sans-serif;
	background-image: url("goal.jpg");
	background-size: cover;

}

.heading {
	background-color: #000000;
	

}

#kc {
	width: 50px;
	height: 75px;

	float: left;
}
.bg {
	
	font-weight: bold;
	font-size: 50;
	text-align: center;
	color: red;

	float: left;
	display: block;

	width: 200px;
	height: 35px;
	margin: 10px;

	border: 3px solid #000000;
}

a:link {
	text-decoration: none;
	color: red;
}

a:visited {
	text-decoration: none;
	color: red;
}



.mid {
	color: white;
	clear: left;
	float:left;

	position: relative;

	font-size: 70px;

	width: 100%;
	background-position: center center;

}
h2 {
	clear: left;
	float: left;
	position: relative;

	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.shots {
	clear: left;
	float: left;

	position: relative;
	padding-top: 30px;

	font-size: 15px;
	text-decoration: none;
	color: #000000;
}

.bottom {
	clear: left;
	float: left;
	width: 100%;

}

#fb {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

#tweet {
	position: fixed;
	right: 60px;
	bottom: 10px;
}
